<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genlz.android.gallery">

    <application
        android:theme="@style/Theme.Jetpacks">
        <activity
            android:name=".GalleryActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>