<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genlz.jetpacks">

    <application>
        <service
            android:name=".widgets.CountdownService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".widgets.CountdownAppWidgetsConfigure"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widgets.CountdownAppWidgetsProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widgets_info" />
        </receiver>
    </application>

</manifest>