<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.genlz.jetpacks"
    android:sharedUserId="${sharedUserId}">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <!--Scope storage-->
    <!--maxSdk means API 28+ don't need to request this permission,because they use scope storage instead.
    And return false if they request.
    -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!--Compatible storage-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/ic_twitter"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jetpacks">
        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true" />
        <!--
                    It's default options for activity
                    android:resizeableActivity="true"

                    Foldables unfolding triggers a configuration change for smallestScreenSize screenLayout and screenSize
                    -->
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/EdgeToEdge.NewSplash">

            <nav-graph android:value="@navigation/main" />

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.genlz.jetpacks.startup.UiModeInspectorInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.genlz.jetpacks.startup.ServiceZygote"
                android:value="androidx.startup" />
        </provider>

        <!--Since API 24-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.WorkerService"
            android:enabled="true"
            android:exported="true"
            android:process=":worker" />

        <service
            android:name=".service.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

    </application>

</manifest>
